<%- include ("../../partials/header") %>

<body>
  <%- include ("../../partials/navbar") %>
  <div class="container">
    <div class="card mt-3">
      <div class="card-header">
        <h2>Criação de usuário</h2>
      </div>
      <div class="card-body">
        <form action="/users/create" method="POST">
          <label>E-mail</label>
          <input class="form-control mb-2" type="email" name="email"
            placeholder="email@exemplo.com" />
            <label>Senha</label>
          <input class="form-control mb-2" type="password" name="password"
            placeholder="*******" />

          <button class="btn btn-success btn-block" type="submit">Criar</button>
        </form>
      </div>
    </div>
  </div>
</body>

<%- include ("../../partials/footer") %>
